<div *ngIf="isDataReady" class="divSettings col-lg-8 col-md-10 col-sm-12 col-xs-12">
  <div>
    <div>
      <div style="font-size: 24px">
        <b>{{info.NAME}}</b>
      </div>
      <div style="font-size: 20px">
        {{info.DISPLAYNAME}}
      </div>
    </div>
    <br>
    <div>
      <div style="display: inline-block; padding-right:10px;">
        <div>
          <b>Metadata Created: </b>
        </div>
        <div>
          {{info.METADATACREATED}}
        </div>
      </div>
      <div style="display: inline-block; padding-left:10px;">
        <div>
          <b>Metadata Updated: </b>
        </div>
        <div>
          {{info.METADATAUPDATED}}
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngIf="isDataReady" class="divSettings col-lg-8 col-md-10 col-sm-12 col-xs-12">
  <h4>E-Mails ( {{memberEmails.length}} ) :</h4>
  <div class="col-md-12 tableWrapper" *ngIf="showEmailsTable">
    <table class="table">
      <thead>
        <tr>
          <th>E-MAIL</th>
          <th>TYPE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emails of memberEmails">
          <td style="cursor: pointer;">
            <a [href]="'mailto:' + emails.EMAIL ">{{emails.EMAIL}}</a>
          </td>
          <td style="cursor: pointer;">{{emails.TYPE}}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  <div *ngIf="!showEmailsTable">
    <span>No E-Mails For Selected User</span>
    <br>
  </div>
  <!--  -->
  <br>
  <h4>Groups ( {{memberGroups.length}} ) :</h4>
  <div class="col-md-12 tableWrapper" *ngIf="showGroupsTable">
    <table class="table">
      <tbody>
        <tr *ngFor="let group of memberGroups">
          <td style="cursor: pointer;" (click)="goToGroup(group.GROUPNAME)"> {{group.GROUPNAME}}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  <div *ngIf="!showGroupsTable">
    <span>No Groups For Selected User</span>
    <br>
  </div>
  <!--  -->
  <h4>Roles ( {{sasRoles.length}} ) :</h4>
  <div class="col-md-12 tableWrapper" *ngIf="showRolesTable">
    <table class="table">
      <tbody>
        <tr *ngFor="let roles of sasRoles">
          <td style="cursor: pointer;" (click)="goToRole(roles.ROLENAME)"> {{roles.ROLENAME}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!showRolesTable">
    <span>No Roles For Selected User</span>
    <br>
  </div>

</div>
<br>
<div *ngIf="isDataReady" class="divSettings col-lg-8 col-md-10 col-sm-12 col-xs-12">
  <div style="font-size: 20px">
    Logins:
  </div>
  <div class="col-md-12 tableWrapper">
    <table class="table">
      <thead>
        <tr>
          <th>DOMAIN</th>
          <th>USER ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let login of logins">
          <td style="cursor: pointer;"> {{login.DOMAIN}} </td>
          <td style="cursor: pointer;">{{login.USERID}}</td>
        </tr>
      </tbody>
    </table>
  </div>