<div *ngIf="!isPageReady" class="spinnerSettings alignCenter">
  <br>
  <span class="spinner spinner-lg">
    Loading...
  </span>
</div>
<br>
<div *ngIf="isPageReady">
  <div class="form-group filter">
    <clr-icon shape="search" size="25"></clr-icon>
    <input type="text" placeholder="Filter by group" size="22" #filter (keyup)="onFilterInput(filter.value)" />
  </div>

  <div class="row">
    <table class="table">
      <tbody>
        <tr class="nav-link" *ngFor="let group of sasGroups; let i=index" (click)="selectGroup(group.GROUPNAME, i);filter.value=null"
          [class.clicked]="i===selectedRow" style="cursor: pointer;">
          <td> {{group.GROUPNAME}} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer"> Groups: {{sasGroups.length}} of {{totalGroups}}</div>
</div>